.slick-slide {
    height: 100%;
    /* border: 4px solid #F25634;
    box-sizing: border-box; */
}

.slick-slide div {
    width: 300px;
}

.slick-slide img {
    border-radius: 10px;
    height: 100%;
    width: 230px;
    border: 2.5px solid white;
    box-sizing: border-box;
    /* margin-left: 40px; */
}

.slick-list {
    padding: 0 55px !important;
}

.slider-container{
    width: 100%;
    margin: auto;
}

.slick-dots {
    bottom: 10px;
}

.slick-dots li {
    width: 1px;
}