.navbar-bottom {
    display: flex;
    flex-wrap: nowrap;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px ;
    position: fixed;
    bottom: 70px;
    width: 25%;
}

.menu-bottom {
    width: 100px;
    margin: 1px;
    text-align: center;
    /* line-height: 75px; */
    /* font-size: 30px; */
}

.icon-menu {
    /* background-color: gray; */
    /* border-radius: 10px; */
    padding: 10px 5px 5px 5px;
}

.navbar-bottom p{
    font-size: 8px;
}
