.double-line-typography {
    margin: 10px 0 0 5px;
    
}

.double-line-typography h5{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0.1rem;
}

.double-line-typography p{
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 0.1rem;
}

.divider-content{
    margin: 5px 0 -5px 0px !important;
}
