
.header {
    padding: 2px 20px 10px 20px;
}

.header p {
    font-size: 18px;
    font-weight: 700;
}

.button-dashboard {
    padding: 20px 0 10px 0;
    text-align: center;
}

.ant-btn {
    border-radius: 20px !important;
    width: 300px !important;
    background-color: gray !important;
    height: 40px !important;
    border: 0px !important;
}
