.App {
  /* text-align: center; */
  width: 25%;
  margin: auto;
  background-color: rgb(226, 226, 226);
  padding: 30px 0 30px 0;
  height: 550px;
  position: relative;
}

.App > .navbar-bottom {
  margin-bottom: 0px;
}


